.mainCont {
    margin: 0;
}

.logo {
    height: 5vh;
    pointer-events: none;
}

.header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: rgb(193, 244, 255);
}

.title {
    display: flex;
    align-items: center;
}

.sideMenuContent {
    width: 100%;
    margin-top: 2em;
}

.sideMenu {
    background: rgb(36, 36, 36);    
    display: flex;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 1em;
    z-index: 1000;
    transition: height 0.6s ease-out 0.5s, width 0.6s ease-out 1s;
}

.sideMenu:hover {
    height: 100vh;
    width: 40vw;
    transition: width, 0.2s ease-in, height 0.4s ease-in-out 0.2s;
}

.sideMenu:hover > div {
    color: red;
    transition: all 0.8s ease-in-out 0.8s;
}

.children {
    margin-top: 2em;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}